.gallery__grid {
  padding-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  max-width: 1400px;
  margin: auto;
  z-index: 9;
}

.gallery__title {
  font-size: 25rem;
  color: white;
  opacity: 0.2;
  font-weight: 400;
  font-family: "Playfair";
  white-space: nowrap;
  text-align: center;
}

.gallery__grid-image {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.gallery__grid-image > img {
  padding: 0.2rem 0.1rem 0rem 0.3rem;
  object-fit: cover;
  width: 100%;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
}
