.cursor {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  left: 20px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.2 ease;
  pointer-events: none;

  z-index: 100;
}

.dot {
  position: fixed;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 5px;
  height: 5px;
  left: 20px;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: transform 0.2s ease, opacity 0.2s ease, border-color 0.2s ease,
    background-color 0.2s ease;
  pointer-events: none;

  z-index: 100;
}
