.grain-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.grain-overlay {
  animation: grain 24s steps(10) infinite;
  background-image: url("../../static/images/old_moon.jpg");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  position: fixed;
  top: -100%;
  width: 300%;

  /* height: 100vh; */
}
