.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  /* height: 100vh; */
}

.loader {
  height: 150px;
  z-index: 50;
}

.loader__progress {
  margin-top: 20px;
  width: 150px;
  height: 6px;
  border-radius: 2px;
  border: 1px solid white;
  z-index: 50;
}

.loader__progress-inner {
  background: white;
  height: 100%;

  transition: 0.2s ease;
}

.loader__progress-number {
  z-index: 50;
  margin-top: 10px;
  color: white;
  text-align: center;
}
