.navbar {
  position: absolute;
  color: white;
  background: none;
  width: 100%;

  z-index: 9;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 48px;
}

.navbar__hamburger {
  position: absolute;
  cursor: pointer;
  top: 52px;
  left: 48px;
  z-index: 11;
}

.navbar__hamburger-line {
  height: 1px;
  width: 30px;
  background-color: white;
  margin-top: 8px;
}

.navbar__title-group {
  text-align: center;
}

.navbar__title {
  letter-spacing: 1rem;
  font-weight: 400;
}

.navbar__subtitles {
  margin-top: -0.8rem;
  opacity: 0.8;
  font-weight: 200;
  letter-spacing: 0.2rem;

  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* font-family: "Courier New", Courier, monospace; */
  font-style: italic;
}

.navbar__instagram-icon {
  fill: white;
}

.sidebar {
  background-color: black;
  height: 100%;
  position: absolute;
  width: 100vw;

  left: -100vw;
  top: 0px;

  padding: 150px 55px;
  opacity: 0.65;
  z-index: 10;

  pointer-events: all;
}

.sidebar-inner {
  position: relative;
  /* z-index: 10000; */
  opacity: 1;
  color: white;
}

.sidebar-link {
  font-weight: 200;
  letter-spacing: 0.4rem;
}
